<!-- your html code here -->  
<div class="container-fluid bg-white py-5">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <p class="h2">Contact</p>
            <p class="font-weight-light">
                Donec tincidunt non turpis vel gravida. Cras vitae laoreet risus. Curabitur varius pulvinar dolor, nec efficitur dui varius pulvinar. Integer lorem purus, bibendum sit amet dapibus sed, tempus et nunc. Nulla blandit et risus et malesuada. 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 bg-light offset-md-3 py-4 pe-0 me-0">
            <p class="text-end pb-3 pt-2"><strong>Your E-mail</strong></p>
            <p class="text-end"><strong>Your Message</strong></p>
        </div>
        <div class="col-md-5 bg-light p-4">
            <div class="form-group pb-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
              </div>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here"></textarea>
              </div>
              <div class="col-md-1 offset-md-10 py-3 px-4">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </div>
    </div>
</div>