<!-- your html code here -->
<div class="container-fluid  bg-light">
    <div class="row p-2 py-5">
        <div class="col-md-5 offset-md-2 py-4">
            <span class="h2">This First Headding</span><span class="h2 text-muted"> Will Catch Your Eye</span>
            <div class="fs-6 font-weight-light">
                <p>Donec laoreet, orci dignissim placerat condimentum, ipsum massa
                    lorem, nec porttitor turpis odio sit amet ligula.Vivamus finibus ligula in
                    tincidunt. Proin auctor felis metus, sit amet scelerisque erat.</p>
            </div>
        </div>
        <div class="col-md-3">
            <img class=" rounded-circle img-fluid" src="../website/assets/img/1.jpg" alt="walter">
        </div>
    </div>
    </div>
</div>