<!-- your html code here -->
<div class="container-fluid  bg-light">
    <div class="row p-2">
        <div class="col-md-5 offset-md-2 py-4">
            <span class="h3">This First Headding</span><span class="h3 text-muted"> Will Catch Your Eye</span>
            <div class="font-weight-light">
                <p>Donec laoreet, orci dignissim placerat condimentum, ipsum massa pulvinar  <br>
                    lorem, nec porttitor turpis odio sit amet ligula.Vivamus finibus ligula in  blandit <br>
                    tincidunt. Proin auctor felis metus, sit amet scelerisque erat vulputate eu.</p>
            </div>
        </div>
        <div class="col-md-2">
            <img class=" rounded-circle img-fluid" src="../website/assets/img/1.jpg" alt="walter">
        </div>
    </div>
    </div>
</div>