<!-- your html code here -->
<!-- your html code here -->  
<div class="container-fluid bg-white py-5">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <p class="h2">Portfolio</p>
            <p class="font-weight-light">
                Donec tincidunt non turpis vel gravida. Cras vitae laoreet risus. Curabitur varius pulvinar dolor, nec efficitur dui varius pulvinar. Integer lorem purus, bibendum sit amet dapibus sed, tempus et nunc. Nulla blandit et risus et malesuada. 
            </p>
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-md-4 px-2 bg-light">
            <p class="text-end pb-3 pt-2"><strong>Your E-mail</strong></p>
            <p class="text-end"><strong>Your Message</strong></p>
        </div>

        <div class="col-md-4 px-2 bg-light">
            <p class="text-end pb-3 pt-2"><strong>Your E-mail</strong></p>
            <p class="text-end"><strong>Your Message</strong></p>
        </div>

        <div class="col-md-4 px-2 bg-light">
            <p class="text-end pb-3 pt-2"><strong>Your E-mail</strong></p>
            <p class="text-end"><strong>Your Message</strong></p>
        </div>

        </div>
    </div>
</div>