<!-- your html code here -->
<div class="container-fluid bg-white py-2 pb-3">
    <div class="row d-flex">
        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 d-flex justify-content-end me-4">
            <img src="../website/assets/img/2.jpg" class="rounded-circle" alt="">
        </div>

        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 d-flex mx-3 justify-content-start">
            <span>
                <h3>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h3>
                <p class="me-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Eu facilisis sed odio morbi. Rhoncus dolor purus non enim praesent
                    elementum. Quam id leo in vitae turpis massa. Elementum facilisis leo vel fringilla est ullamcorper.
                    Sit amet porttitor eget dolor morbi non arcu risus. Nisi lacus sed viverra tellus in hac habitasse.
                    Pretium aenean pharetra magna ac placerat vestibulum. Volutpat diam ut venenatis tellus in metus. Mi
                    sit amet mauris commodo.</p>
            </span>
        </div>
    </div>
</div>