<!-- your html code here -->
<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-end">
            <img src="../website/assets/img/2.jpg" class="rounded-circle" alt="">
        </div>

        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 d-flex justify-content-start">
            <span>
                <h3>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h3>
                <p class="me-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Eu facilisis sed odio morbi. Rhoncus dolor purus non enim praesent
                    elementum. Quam id leo in vitae turpis massa. Elementum facilisis leo vel fringilla est ullamcorper.
                    Sit amet porttitor eget dolor morbi non arcu risus. Nisi lacus sed viverra tellus in hac habitasse.
                    Pretium aenean pharetra magna ac placerat vestibulum. Volutpat diam ut venenatis tellus in metus. Mi
                    sit amet mauris commodo. Vel turpis nunc eget lorem dolor sed. Tempor orci dapibus ultrices in
                    iaculis nunc sed augue lacus. Est sit amet facilisis magna etiam tempor orci eu lobortis. Eleifend
                    quam adipiscing vitae proin sagittis nisl. Quam quisque id diam vel quam elementum pulvinar etiam
                    non. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor elit. Suspendisse faucibus
                    interdum posuere lorem.</p>
            </span>
        </div>
    </div>
</div>